/* @font-face {
     font-family: "NTSomic";
     src: url("/fonts/NTSomic-Regular.ttf") format("truetype");
     font-weight: 400;
     font-style: normal;
     font-display: swap;
   }
   
   @font-face {
     font-family: "NTSomic";
     src: url("/fonts/NTSomic-Medium.ttf") format("truetype");
     font-weight: 500;
     font-style: normal;
     font-display: swap;
   }
   
   @font-face {
     font-family: "NTSomic";
     src: url("/fonts/NTSomic-Semibold.ttf") format("truetype");
     font-weight: 600;
     font-style: normal;
     font-display: swap;
   }
    */
